[submodule "doc/html"]
	path = doc/html
	url = https://www.github.com/Jacajack/liblightmodbus.git
	branch = gh-pages
[submodule "doc/doxygen-awesome-css"]
	path = doc/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
