#Ignore object files created during compilation process
*.o
obj
*.a
lib
*.gcno
*.gcda
*.gcov
*.gch
*.log
coverage-test
examples/example
massif.out
valgrind.xml

#Editors' stuff
*.tmp
*.swp
*.*~

#CMake dir
build

#Local configuration
include/lightmodbus/libconf.h
.modules.conf
