Source: libmodlib
Priority: optional
Maintainer: Jacek Wieczorek <mrjjot@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/Jacajack/modlib

Package: libmodlib-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Modlib is a lightweight Modbus library.
 Modlib is aimed to run on personal computers as well as on smaller systems, like AVR micro-controllers.

